#container {
    display: flex;
}

.sectionOne {
  border: 2px solid red;
  background-color: blue;
  padding: 60px;
  width: 20%;
}

.sectionTwo {
  border: 2px solid red;
  background-color: blue;
  
  width: 60%;
}

.sectionThree {
  border: 2px solid red;
  background-color: rgb(38, 98, 118);
  
  width: 20%;
}