@import url("https://fonts.googleapis.com/css?family=Raleway");

html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway";
}

.section_content {
  border: 2px solid red;
  background-color: blue;
  height: 300px;
  width: 70%;
  margin: 0 auto;
}
